/* Stickynotes */
#create {
    user-select:none;
    padding:20px;
    border-radius:20px;
    text-align:center;
    border:15px solid rgba(0,0,0,0.1);
    cursor:pointer;
    color:rgba(0,0,0,0.1);
    font:20px "Helvetica", sans-serif;
    line-height:15px;
    width: 100px;
}
#create:hover { border-color:rgba(0,0,0,0.2); color:rgba(0,0,0,0.2); }


